body {
  background-color: lightcyan;
  text-align: center;
padding-top: 100px;
font-family: 'Merriweather', serif;


}
h1 {
  color: #11999E;
  font-size: 5.625rem;
  width:2%
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  margin-top: 50px;



}
h2 {
  color: #11999E;

  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight: lighter;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;


}
.top-container {
  line-height: 2;
}
.btn {
  color: #11999E;

}
.footer-link {
  color: #11999E;



}
.cloud-1 {
  position: absolute;
  right: 400px;
  top: 50px;
}
.cloud-2 {
  position: absolute;
  left: 300px;
  top: 500px;

}
.me {
  height: 200px;
  width: auto;

  border-radius: 50%;
}
.computer-img {
  border-radius: 50%;
  height : 200px;
  width: auto;
}
.dany {
  border-radius: 50%;
  height : 200px;
  width: auto;

}
hr {
  border: 1px dotted grey;
  border-radius: 100%;
  width: 100px;
  height: auto;
}
